extends ../layout
block content
  article
    form(action='/topic/add' method='post')
      p
        input(type='text' name='title' placeholder='title')
      p
        textarea(name='description')
      p
        input(type='author' name='author' placeholder='author')
      p
        input(type='submit')
