head
  title NodeJS
  script(type='text/javascript').

form(action='/auth/register' method='POST')
  input#username(type='text' name='username' placeholder='username')
  br
  input#password(type='text' name='password' placeholder='password')
  br
  input#displayName(type='text' name='displayName' placeholder='displayName')
  br
  input(type='submit' value='등록하기')
