doctype html
html(lang='en')
  head
    title NodeJS
    script(type='text/javascript').
      const foo = true;
      let bar = function() {};
      if (foo) {
      bar(1 + 5)
      }
  body
    h1 Welcome
    ul
      li
        a(href='/auth/login') Login
      li
        a(href='/auth/register') Register
