doctype html
html
	head
		meta(charset='UTF-8')
		title Hi
	body
		h1 Hi!!!
		form(name='form', action='/topic', method='POST')
			input(type='text', name='text')
			p
			textarea(name='textarea')
			p
			input(type='submit', value='제출')